.DS_Store
.venv/
.pytest_cache/
*.egg-info/
build/
runs/
src/user_config.json
src/config_merged.json
test/sim_build/
test/results.xml
test/tb.fst
test/tb.vcd
test/output/
test/__pycache__/
test/.pytest_cache/
test/gate_level_netlist.v
python/.pytest_cache/
python/build/
python/data/
*.pt
python/.venv/
python/**/__pycache__/
